<!DOCTYPE html>

<div ng-controller="BalanceTableCtrl" class="container container-main">
    <div class="page-header">
        <h1>{{balance | currency: '\u006c\u0065\u0069'}}</h1>
    </div>
    <div class="align-center">
        <div class="btn-group" role="group">
            <a ng-init="tog=1" ng-click="setMinMaxFilter(-999999999999, 999999999999); changeBalanceByFilter(); tog=1" class="btn btn-default" ng-class='{"btn-primary":tog==1}'>Balance</a>
            <a ng-click="setMinMaxFilter(0, 999999999999); changeBalanceByFilter(); tog=2" class="btn btn-default" ng-class='{"btn-primary":tog==2}'>Income</a>
            <a ng-click="setMinMaxFilter(-99999999999, 0); changeBalanceByFilter(); tog=3" class="btn btn-default" ng-class='{"btn-primary":tog==3}'>Spendings</a>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <tbody>
            <tr ng-class="(((getMinFilter()==0)||(getMaxFilter()==0)) ? 0 : 0 < transaction.amount ? 'green' : 'red')" ng-repeat="transaction in transactions | amount:-999999:999999">
                <td>{{transaction.date | date:"MM @ h:mma"}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.amount}}</td>
                <td width="40">
                    <button type="button" ng-click = "deleteTransaction(transaction.id, transaction.date)" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <a href="/receive" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Receive</a>
        <a href="/spend" class="btn btn-default right">Spend <i class="glyphicon glyphicon-minus"></i></a>
    </div>
    <nav>
        <ul class="pagination">
            <li><a href="#" ng-click="getPreviousMonths()" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-click="setTableByMonth(data.month,data.year)" ng-repeat="data in last6Months"><a href="#">{{data.month}} {{data.year}}</a></li>
            <li><a href="#" ng-click="getNextMonths()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
